<hr> 
<div class="card">
  <div class="card-body">
    <h2>{{posts.titulo}}</h2>
    <h  r>
    <small>Slug: {{posts.slug}}</small>
    <br>
    <small>Categoria: {{posts.categoria.nome}}</small>
    <hr>
    <small>Postagem: {{posts.conteudo}}</small>
    <br>
    <small>Data de criação: {{posts.date}}</small>
    <hr>
    <a href="/"><button class="btn btn-danger ml-4">Voltar</button></a>
  </div>
</div>